<!DOCTYPE html>
<html>
<head>
	<title>compass</title>
	<link href="css/compass.css" rel="stylesheet">
</head>
<body>
	<div class="classList">
		<% data.class.map((value, index) => { %>
			<div class="itemTime">
				<% if(data.time[index] != "all day") { %>
					<p><%=data.time[index]%></p>
				<% } else { %>
					<p>all day</p>
				<% } %>
			</div>
			<div class="item">
				<p><%=value%></p>
			</div>
		<% }) %>
		<div class="date">
			<span id="left">< </span><p><%=data.date%></p><span id="right"> ></span>
		</div>
	</div>
	<!-- it really didnt like being put in a folder !-->
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="date.js"></script>
</body>
</html>